@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Googel-Font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');
/*General Style*/
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}

.section{
    background-color: #e2e2f0;
    min-height: 100vh;
    display: block;
    padding: 50px 100px;
    position: fixed;
    left: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.section .section-title h2{
    
    color: #971515;
}


/*about section*/
.about .about-content .about-text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 100px;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #35325e;
}
.about .about-content .about-text p{
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}
.about .about-content .personal-info{
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
    padding: 30px 0px;
    font-size: 24px;
    font-weight: 700;
    color: #302e4d; 
    margin-bottom: 30px;
   
}
.about .about-content .personal-info .info-item{

  -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width:100%;  
    font-weight: 300;
    padding: 10px 0;
    font-size: 20px;
}
.about .about-content .personal-info .info-item p{
    font-weight: 300;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    border-bottom: 1px solid #e8dfec;
    margin: 0;

}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;

}
.about .about-content .skills{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 23px;
   
}
.about .about-content .skills p{
font-size: 23px;
font-weight: 700;
color: #302e4d; 
margin-bottom: 30px;

}

.about .about-content .skills .skill-item{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

}
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;

}
.about .about-content .skills .skill-item .progress{
    background-color: #e4d583;
    height: 7px;
    width: 100%;
    border-radius: 4px;
    position: relative;

}
.about .about-content .skills .skill-item{
    margin-bottom: 30px;
}
.about .about-content .skills .skill-item .progress .progress-in{
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   border-radius: 10px;
   background-color: #965555;
}
.about .about-content .skills .skill-item .skill-percent{
 line-height: 10px;
 position: absolute;
 right: 0;
 top: -40px;
 font-weight: 20;
 color: #f30c0c;

}
.about .about-content .education{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content .experience{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;

}
.about .about-content h3.title{
    font-size: 24px;
    font-weight: 700;
    color: #302e4d; 
    margin-bottom: 30px;
}
.about .about-content .timeline-box{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background-color: #fdf9ff;
    padding: 30px 0px;
    border: 1px solid #3d3d8b;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0px;

}
.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
   
}
.about .about-content .timeline .circle-dot{
position: absolute;
left: 0;
top: 1px;
height: 15px;
width: 15px;
left: -7px;
border-radius: 50%;

}
.about .about-content .timeline .timeline-data{
font-size: 14px;
font-weight: 400;
margin-top: -5px;
margin-bottom: 12px;
color: #e76209;
}
.about .about-content .timeline .timeline-data .fa{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
    font-size: 18px;
    font-weight: 700;
    color: #1f13cf; 
    margin-bottom: 15px;
    text-transform: capitalize;
}
.about .about-content .timeline .timeline-text{
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  
}


.section .container{
    padding-top: 60px;
    padding-bottom: 70px ;

}
.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom:60px ;
}
.section-title h2{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik',sans-serif;
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;

}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;

}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    position: relative;
    
}
.padd-15{
    padding-left: 35px;
    padding-right: 35px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;

} 
